<template>
  <div>
    <img class="w-10 h-10 rounded-full mr-4" :src="avatarUrl" :alt="altText" />
  </div>
</template>

<script>
export default {
  props: {
    username: {
      type: String,
      required: true,
    },
    avatarUrl: {
      type: String,
      required: true,
    },
  },
  computed: {
    altText() {
      return `Avatar of ${this.username}`;
    },
  },
};
</script>
