<template>
  <div class="relative h-2 bg-gray-800">
    <div class="[ progress ] absolute h-2 bg-green-500" :style="style"></div>
  </div>
</template>

<script>
export default {
  props: {
    progress: {
      type: Number,
      required: true,
    },
  },
  computed: {
    style() {
      const p = this.progress;
      return { width: `${p ? Math.min(100, p) : 0}%` };
    },
  },
};
</script>

<style scoped>
.progress {
  transition: width 1s;
}
</style>
